
:root {
  --main-bg-color: #0C1021;
  --main-fg-color: #98fb98;
  --help-bg-color: #e6db77;
  --help-bg-color-border: #e6df07;
  --alt-file-color: #e8f48c;
}
body {
  background-color: black;
  font-family: "Inconsolata", monospace;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('assets/Inconsolata.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.title {
  font-size: 2vw;
  color: white;
}
.intro {
  font-size: 1.5vw;
  color: white;
}
a {
  color: grey;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.panel {
  position: absolute;
  top: 20%;
  left: 1%;
}
.panel-item {
  font-size: 1.5vw;
  color: white;
}
.button {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: darkgray;
  border-radius: 5px;
  color: white;
  visibility: hidden;
  justify-content: center;
  line-height: 1;
  height: 48px;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;

}
.container:hover  > #pausePlay { visibility: visible; }
.container:hover {
  cursor:pointer;
}
